@model Users
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> ToDoList</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <main>
        <section class="authorization">
            <form asp-action="List" asp-controller="List" method="post" class="form">
                <div class="card">
                    <a class="login">Вход</a>
                    <div class="inputBox">
                        <input asp-for="Name" type="text" required="required">
                        <span class="user">Логин</span>
                    </div>

                    <div class="inputBox">
                        <input asp-for="Password" type="password" required="required">
                        <span>Пароль</span>
                    </div>

                    <a href="/Authorization/Registration">Регистрация</a>

                    <button  class="enter">Войти</button>

                    <a href="/Authorization/Restore">Забыли логин или пароль?</a>

                </div>
                </form>
        </section>
    </main>
</body>
</html>
